<nav class="art_nav">  
	<%= render partial: "shared/navbar" %>
</nav>

<div class="container">
	<% flash.each do |key, value| %>
	    <%= value %>
	<% end %>

	<h1 class="edit_header">Update This Event</h1>

	<%= render partial: "form" %>
</div>