<nav class="navbar navbar-default art_nav"> 
	<%= render partial: "shared/navbar" %>
</nav>

<div class="container">
	<%= render partial: "shared/flash" %>

	<h1 class="edit_header">New Art Event</h1>

	<%= render partial: "form" %>
</div>