<img id="welcome_img" src="../assets/welcome.jpg"></img>

<h1 id="welcome_logo">L.A. Events</h1>

 <p class="home_text" id="home_sign_in"><%= link_to "Sign Up", new_user_path, :class => "home_link" %> ~ <%= link_to "Sign In", new_sessions_path, :class => "home_link" %></p>
