<!-- Navbar -->
<nav class="navbar navbar-default event_nav nav_img" role="navigation"> 
	<%= render partial: "shared/navbar" %>
</nav>

<div class="container">
	<!-- Flash alerts -->
	<%= render partial: "shared/flash" %>

	<!-- Header specifically for updating event (vs. creating) -->
	<h1 class="header">Update This Event</h1>

	<!-- Form for editing or creating events -->
	<%= render partial: "form" %>
</div>