<nav class="navbar navbar-default event_nav nav_img" role="navigation"> 
	<%= render partial: "shared/navbar" %>
</nav>

<div class="container">
	<!-- Flash alert -->
	<%= render partial: "shared/flash" %>

	<!-- Header that is specific to create (vs. update) -->
	<h1 class="header">New Event</h1>

	<!-- Form for create and update -->
	<%= render partial: "form" %>
</div>