<nav class="navbar navbar-default fest_nav" role="navigation"> 
	<%= render partial: "shared/navbar" %>
</nav>

<%= render partial: "shared/flash" %>

<h1 class="edit_header">Edit this Event</h1>

<%= render partial: "form" %>
