<nav class="navbar navbar-default" role="navigation">
	  <%= render partial: "shared/navbar" %>
</nav>

<% flash.each do |key, value| %>
    <%= value %>
<% end %>

<h1>Edit this Event</h1>

<%= render partial: "form" %>
