<nav class="fest_nav">  
	<%= render partial: "shared/navbar" %>
</nav>


<% flash.each do |key, value| %>
    <%= value %>
<% end %>

<h1 class="edit_header">New Festival</h1>

<%= render partial: "form" %>