/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require rails_bootstrap_forms
 */

@import "bootstrap";

body {
	font-family: 'Merriweather', serif;
}

.container-fluid {
	padding-top: 50px;
}

#welcome_img {
	width: 750px;
	border: 1px solid black;
	padding: 15px;
	display: block;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*margin-top: 50px;*/
}

#welcome_logo {
	font-family: 'Satisfy', cursive;
	font-size: 8em;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	width: 500px;
	position: fixed;
	margin: auto;
	margin-top: 100px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
/*	display: block;
	left: 50%;*/
/*	margin-left: -50px;*/
}

.home_text {
	font-family: 'Satisfy', cursive;
	font-size: 3em;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 325px;
}

a.home_link {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sign_logo_set {
	font-family: 'Satisfy', cursive;
	text-align: center;
	margin-top: 15%;
	color: rgb(119, 151, 195);
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.sign_events_logo {
	font-size: 6em;
}

.sign_logo {
	font-size: 3em;
}

.event_nav {
	background-image: url('../assets/eventnav.png');
	height: 100px;
}

.art_nav {
	background-image: url('../assets/artnav.png');
	height: 100px;
}

.fest_nav {
	background-image: url('../assets/festnav.png');
	height: 100px;
}

nav {
	width: 100%;
	border-bottom: 1px solid black;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline; 
}

.nav_home {
	margin-left: 5%;
}

a.nav_links {
	color: white;
}

.nav_links {
	padding: 5px;
}

.nav_sign_out {
	float: right;
	margin-right: 1%;
	font-family: 'Satisfy', cursive;
	margin-top: 50px;
	font-size: 2em;
}

.nav_logo {
	font-family: 'Satisfy', cursive;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 5em;
}

.header {
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-size: 4em;
}

.show_col_1 {
	text-align: center;
}

.bold {
	font-size: 1.25em;
}

.inline {
	display: inline;
}

.form-inline > * {
  margin-right: 35px;
}

.spaced {
	margin-left: 26%;
}

form.line {
	margin-top: 20px;
}

.edit_header {
	text-align: center;
	font-family: 'Satisfy', cursive;
}