/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require rails_bootstrap_forms
 */

@import "bootstrap";

/* HOME PAGE*/

/* Image on home page */
#home_img {
	width: 750px;
	border: 1px solid black;
	padding: 15px;
	position: relative;
	margin-top: 50px;
}

/* Div for the text that is placed over the top of the home page image */
.home_text_div {
	width: 80%;
	position: absolute;
	top: 0;
	margin-left: 10%;
	margin-top: 50px;
}

/* LA Events logo on the home page */
#home_logo {
	font-family: 'Satisfy', cursive;
	font-size: 8em;
	color: white;
	text-align: center;
	margin-top: 6%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Sign in and sign up links on home page */
.home_sign_in_up {
	font-family: 'Satisfy', cursive;
	font-size: 3em;
	color: white;
	text-align: center;
	margin-top: 11%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Changes color of sign in/sign up links from default */
a.home_link {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Created by label at the bottom of the home page */
.created_by {
	font-family: 'Satisfy', cursive;
	clear: both;
	color: rgb(119, 151, 195);
	font-size: 1.25em;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}


/* SIGN IN/UP PAGES */

/* Both LA Events and sign in/sign up logos*/
.sign_logo_set {
	font-family: 'Satisfy', cursive;
	text-align: center;
	margin-top: 15%;
	color: rgb(119, 151, 195);
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

/* LA Events logo on sign in and sign up pages */
.sign_events_logo {
	font-size: 6em;
}

.sign_in_form {
	margin-top: 15%;
}

.sign_up_form {
	margin-top: 12%;
}

/* Changes Bootstrap defaults */
.form-inline > * {
  margin-right: 35px;
}

form.line {
	margin-top: 20px;
}


/* NAVBARS */

/* Navbar images */
.nav_img {
	background-size: cover;
	background-repeat: none;
}

.event_nav {
	background-image: url('../assets/eventnav.png');
}

.art_nav {
	background-image: url('../assets/artnav.png');
}

.fest_nav {
	background-image: url('../assets/festnav.png');
}

.concert_nav {
	background-image: url('../assets/concertnav.png');
}

.con_nav {
	background-image: url('../assets/connav.png');
}

/* For all text in the navbar */
.nav_text {
	margin-left: 25px;
	display: block;
}

/* LA Events logo in the navbar */
.nav_logo {
	font-family: 'Satisfy', cursive;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 5em;
	margin-top: -25px;
	margin-left: 15px;
	margin-right: 20px;
}

/* For the sign out link in the navbar */
.nav_sign_out {
	float: right;
	font-family: 'Satisfy', cursive;
	margin-left: 10px;
	color: white;
	font-size: 1.5em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav_sign_out:hover {
	color: white;
}

/* Links to different pages in the navbar */
.nav_links {
	margin-left: 2%;
	font-size: 1.5em;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	padding-right: 5px;
}

/* Changes the nav links color from default */
.nav_link_color {
	color: white;
}

/* Changes the nav links color when hovering from default*/
.nav_link_color:hover {
	color: white;
}

/* All list items in the navbar */
nav li {
	display: inline; 
}


/* HEADERS */

/* Header for index.html.erb pages */

/* Sets for all headers */
.header {
	text-align: center;
	font-family: 'Satisfy', cursive;
}

.index_header {
	font-size: 4em;
}


/* SHOW PAGES */

.show_text {
	text-align: center;
}

/* Makes labels slightly larger */
.bold {
	font-size: 1.25em;
}

/* Makes the labels inline with the input boxes */
.inline {
	display: inline;
}


/* MEDIA QUERIES */
@media only screen 
and (max-width : 320px) {
	.event_nav {
		width: 135%;
	}
	.navbar-toggle {
		margin-right: 35%;
	}
}

@media only screen 
and (max-width: 580px) {
	.home_text {
		margin-top: 30%;
		color: rgb(119, 151, 195);
	}
	a.home_link {
		color: rgb(119, 151, 195);
	}
}

@media only screen 
and (max-width: 480px) {
	#welcome_logo {
/*		margin-top: 8%;*/
		font-size: 6em;
	}
	.home_text {
		margin-top: 60%;
		font-size: 2em;
	}
}

@media only screen
and (max-width: 440px) {
	.home_text {
		margin-top: 30%;
	}
}

@media only screen 
and (max-width: 400px) {
	.nav_logo {
		font-size: 3em;
	}
	.nav_links {
		font-size: 1em;
		padding: 0px;
	}
	.hidden_col {
		display: none;
	}
}


/* ETC. */

body {
	font-family: 'Merriweather', serif;
}

.container-fluid {
	padding-top: 50px;
}

/* For back arrow glyphicon */
.spaced {
	margin-left: 26%;
}