<nav class="navbar navbar-default con_nav nav_img">  
	<%= render partial: "shared/navbar" %>
</nav>

<%= render partial: "shared/flash" %>

<h1 class="header">New Event</h1>

<%= render partial: "form" %>